---
import Icon from 'astro-icon';

type Project = {
  _id: string;
  name: string;
  category: string;
  description: string;
  videoUrl: string;
};

interface ProjectsProps {
  project: Project;
}

const {project} = Astro.props;
---

<section class="bg-background px-pageXMobile md:px-pageX relative">
  <div
    class="flex flex-col lg:flex-row items-center h-full border-t-4 py-[80px] border-b border-darkBackground"
  >
    <div>
      <!-- project section -->
      <div
        class="flex flex-col lg:flex-row items-center gap-0 md:gap-10 lg:gap-40"
      >
        <!-- project description -->
        <div class="max-w-full w-full lg:max-w-[30%] flex flex-col">
          <div
            class="text-tertiary hidden lg:block text-[1rem] font-[700] mb-7 leading-[1.5rem] uppercase"
          >
            Projects
          </div>
          <div
            class="text-textDull text-[35px] md:text-[50px] lg:text-[4rem]
             font-bold uppercase leading-[40px] md:leading-[65px] mb-0 mb:mb-[10px]"
          >
            {project.name}
          </div>
          <div
            class="text-textDull text-[16px] capitalize mb-[30px] md:mb-[20px] lg:mb-8"
          >
            {project.category}
          </div>
          <div
            class="md:text-[20px] hidden md:block lg:text-[22px] md:leading[30px] lg:leading-[27px] mb-8 text-tertiary"
          >
            {project.description}
          </div>
          <div
            class="text-primary text-[16px] font-bold uppercase leading-[1.5rem] hidden lg:flex items-center gap-2 hover:gap-3 transition-all"
          >
            See it in action <span
              ><Icon name="gg:arrow-right" class="w-[30px]" /></span
            >
          </div>
        </div>
        <!-- project video -->
        <div>
          <video class="w-full h-[auto]" loop muted autoplay playsinline>
            <source src={project.videoUrl} type="video/mp4" />
             Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
