---
import Icon from 'astro-icon';

type Project = {
  _id: string;
  name: string;
  category: string;
  description: string;
  url: string;
  videoUrl: string;
};

interface ProjectsProps {
  project: Project;
  index: number;
}

const { project, index } = Astro.props;
---

<section class="project-section bg-white px-pageXMobile md:px-pageX relative">
  <div
    class=`border-b border-[#ccc] flex flex-col lg:flex-row items-center h-full py-[80px]`
  >
    <div>
      <!-- project section -->
      <div
        class="flex flex-col lg:flex-row items-center gap-0 md:gap-10 lg:gap-40"
      >
        <!-- project description -->
        <div class="max-w-full w-full lg:max-w-[30%] flex flex-col">
          <div
            class="reveal-type text-background hidden lg:block text-[1rem] font-[700] mb-7 leading-[1.5rem] uppercase"
          >
            Project
          </div>
          <div
            class="reveal-type text-background text-[35px] md:text-[50px] lg:text-[4rem]
             font-bold uppercase leading-[40px] md:leading-[65px] mb-0 mb:mb-[10px]"
          >
            {project.name}
          </div>
          <div
            class="reveal-type text-background text-[16px] capitalize mb-[30px] md:mb-[20px] lg:mb-8"
          >
            {project.category}
          </div>
          <div
            class="reveal-type md:text-[20px] hidden md:block lg:text-[22px] md:leading[30px] lg:leading-[27px] mb-8 text-background"
          >
            {project.description}
          </div>
          <a
            href={project.url}
            class="interactable interactable-link"
            target="_blank"
          >
            <div
              class="border-black border-2 text-black px-6 py-4 w-max rounded-full text-[16px] group font-bold uppercase leading-[1.5rem] hidden lg:flex items-center gap-2 transition-all"
            >
              See in action <span
                ><Icon
                  name="gg:arrow-right"
                  class="w-[30px] group-hover:-rotate-45 transition-all"
                /></span
              >
            </div>
          </a>
        </div>
        <!-- project video -->
        <div>
          <a
            href={project.url}
            class="interactable interactable-link"
            target="_blank"
          >
            <video
              class="w-full h-[auto]"
              loop
              muted
              autoplay
              playsinline
              preload="none"
            >
              <source src={project.videoUrl} type="video/mp4" />
               Your browser does not support the video tag.
            </video>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap"
  import { ScrollTrigger } from "gsap/all";
  import SplitType from 'split-type';
  gsap.registerPlugin(ScrollTrigger)

  // selecting all the text with reaveal-type class
  const splitTypes = document.querySelectorAll('.reveal-type');

  splitTypes.forEach((char) => {
    const text = new SplitType(char, { types: 'lines' });

    gsap.from(text.lines, {
      scrollTrigger: {
        trigger: char,
        start: 'top 80%',
        end: 'top 40%',
        scrub: false,
      },
      ease: 'power4.out',
      scaleY: 0,
      y: 50,
      transformOrigin: 'top',
      stagger: 0.2,
      duration: 0.5,
    });
  });
</script>
